



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    color: black;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #fff;
    }

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

label {
    margin: 0;
    display: block;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
}




.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

    .container-login100::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.7);
    }

.wrap-login100 {
    width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    padding: 100px;
    background: #19384A;
    background: -webkit-linear-gradient(top, #19384A, #347787);
    background: -o-linear-gradient(top, #19384A, #347787);
    background: -moz-linear-gradient(top, #19384A, #347787);
    background: linear-gradient(top, #19384A, #347787);
    align-content:center;

}

.flex-horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1000px;
}

.flex-sliders {
    display: flex;
    flex-direction: column;
}

.variable-holder {
    padding: 10px 20px;
    min-width: 240px;
}

.inner-flex-horiz {
    display: flex;
    flex-direction: row;
}

#enzyme1value, #enzyme2value, #enzyme3value {
    padding: 0px 10px;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
    justify-content:center;
}

.login100-form-title {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}




.editToolbar {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0px 10px;
}

.innerToolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.editToolbarButton {
    color: white;
    padding: 10px;
}

#modelEditCanvas {
    background-color: white;
    border-radius: 10px;
}
/*------------------------------------------------------------------
[ Responsive ]*/


@media (max-width: 1200px) {
    .wrap-login100 {
        width: 95%;
    }

    .editToolbar {
        width: 90%;
    }

    .flex-horiz {
        min-width: 100%;
    }

    #modelEditCanvas {
        width: 90%;
    }
}
@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }
}