
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}

.wrap-login100 {
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    padding: 100px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #19384A, #347787);
    background: -o-linear-gradient(top, #19384A, #347787);
    background: -moz-linear-gradient(top, #19384A, #347787);
    background: linear-gradient(top, #19384A, #347787);
    align-content:center;
}
#subsContainer, #prodsContainer, #enzsContainer{
  width: 30%;
  border-radius: 5%;
  display: inline-block;
  overflow: hidden;
}
#prodsLabel, #enzsLabel, #subsLabel{
  display: inline-block;
  font-size: 18px;
  color: white;
}
ul#products{
    overflow-y: scroll;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
}
ul#enzymes{
    overflow-y: scroll;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
}

ul#substrates{
    overflow-y: scroll;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
}

/* #substrates, #products, #enzymes{
  float: left;
  display: inline-block;
} */

.container {
  float: left;
  clear: none;
  display: block;
  padding: 2% 1% 0 0;
}

.reversibleChoice {
    background-color: #4CAF50;
    border: 1px solid white;
    color: white;
    width: 18%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 2% 2% 2% 2%;
    margin-left: 2%;
    margin-top: 2%;
}

/* #weightSlider {
  color: white;
  width: 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 0 0 0 0;
} */

.createReaction {
  border: 1px solid white;
  background-color: #4CAF50; /* Green */
    color: white;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2%;
    margin-top: 2%;
}

.saveReaction {
  border: 1px solid white;
  background-color: #4CAF50; /* Green */
    color: white;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2%;
    margin-top: 2%;
}

.clearReaction {
  border: 1px solid white;
  background-color: #4CAF50; /* Green */
    color: white;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2%;
    margin-top: 2%;
}

.createReaction, .saveReaction, .clearReaction{
  float: left;
  display: inline-block;
}

/* .createReaction, .weight{
  float: left;
  display: inline-block;
} */


/* .weight {
  border: 1px solid white;
  background-color: #4CAF50;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

/* .weightLabel{
  width: 20%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 0 0 0 0;
} */

/* .weightValue {
  border: none;
  color: black;
  width: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 0 0 0 0;
} */

/* .enterWeight {
  border: 1px solid white;
  color: white;
  width: 20%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 0 0 0 0;
} */

.editToolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0% 5%;
}

.innerToolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

/*Change color of choices in tool bar*/
.editToolbarButton {
    color: white;
    padding: 5%;
}

/*Add white section above the rectangles */
#imageCanvas {
    background-color: white;
    border-radius: 5%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
