
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.viewAndCreateReaction {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2%;


}

.wrap-login100 {
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    padding: 100px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #19384A, #347787);
    background: -o-linear-gradient(top, #19384A, #347787);
    background: -moz-linear-gradient(top, #19384A, #347787);
    background: linear-gradient(top, #19384A, #347787);
    align-content:center;
}
#subsContainer, #prodsContainer, #enzsContainer{
  width: 100%; /* makes them stack */
  border-radius: 5%;
  height: 170px;
  border: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.9);
  display: inline-block;
  overflow: hidden;
}
#prodsLabel, #enzsLabel, #subsLabel{
  display: inline-block;
  font-size: 25px;
  color: rgb(25,25,25);
  margin-left: 1%;
  border-bottom: 2px solid;
  border-bottom-color: black;
  
}
.subs, .enzs, .prods {
    width: 100%;
    padding-left: 1%;
}

ul#products{
    overflow-y: scroll;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: 120px;
}
ul#enzymes{
    overflow-y: scroll;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: 120px;
}

ul#substrates{
    overflow-y: scroll;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    max-height: 120px;
}

.container {
  float: left;
  clear: none;
  color: rgb(25,25,25);
  display: block;
  padding: .5% 1% 0 0;
  
}

.reversibleChoice {
    background-color: #4CAF50;
    border: 1px solid white;
    color: white;
    width: 41.2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 2% 2% 2% 2%;
    margin-right: 2.2%;
    margin-top: 2%;
}

.createReaction {
    border: 1px solid white;
    background-color: #4CAF50; /* Green */
    height: 57.8px;
    margin-top: 3%;
    color: white;
    width: 14%;
    padding: 1.2% 1.2% 1.2% 1.2%;
    text-align: center;
    line-height: 50%;
    text-decoration: none;
    display: inline-block;
    margin-left: 1%;
    font-size: 14px;
    margin-right: 1%;
    
    
}
.saveModuleForm {
    float: left;
    padding-left: 15px;
    height: 550px;
    width: 34.85%;
    
}

.saveReaction {
    border: 1px solid white;
    background-color: #4CAF50; /* Green */
    color: white;
    width: 15%;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 2%;
}

.clearReaction {
    border: 1px solid white;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 1.2% 1.2% 1.2% 1.2%;
    width: 13%;
    height: 57.8px;
    margin-top: 3%;
    text-align: center;
    line-height: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
}

.createReaction, .clearReaction{
  float: left;
  display: inline-block;
}


.editToolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0% 5%;
}

.innerToolbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

/*Change color of choices in tool bar*/
.editToolbarButton {
    color: white;
    padding: 5%;
}

/*Add white section above the rectangles */
#imageCanvas {
    background-color: white;
    border-radius: 5%;
    float: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.backBtn{
    border: 1px solid white;
    background-color: #4CAF50; /* Green */
    color: white;
    width: 70px;
    padding: 1% 1% 1% 1%;
    text-align: center;
    float: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 57.8px;
    margin-top: 3%;
    margin-left: .8%;
}

#irreversibleID{
    width: 38.5%;
}