{% extends 'index.html' %}

{% block modelChoice %}
<div class=".modelChoice-spacing">
	<div class="wrap-modelChoice100">
		<div class="container-modelChoice">
			<div class="modelChoice-flex">
				<h2 class="title-model">Create or Continue</h2>
					<div class="modelChoice-scroll-elements">
						<a href="modelEdit">
							<button class="login100-form-btn">
								+
							</button>
						</a>

					</div>
			</div>
		</div>
	</div>

	<div class="wrap-modelChoice100">
		<div class="container-modelChoice">
			<div class="modelChoice-flex">
				<h2 class="title-model">Your Models</h2>
					<div class="modelChoice-scroll-elements">
						<a href="">
							<button class="login100-form-btn">
								Citric acid cycle
							</button>
						</a>
						<a href="">
							<button class="login100-form-btn" type="button">
								Fatty acid β-oxidation
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Caffeine Metabolism
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Nicotine metabolism
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Dopamine degradation
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Serotonin metabolism
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Collagen biosynthesis
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Steroid hormone biosynthesis
							</button>
						</a>
					</div>
			</div>
		</div>
	</div>

	<div class="wrap-modelChoice100">
		<div class="container-modelChoice">
			<div class="modelChoice-flex">
				<h2 class="title-model">Our Models</h2>
					<div class="modelChoice-scroll-elements">
						<a href="">
							<button class="login100-form-btn" type="button">
								Glycolysis
							</button>
						</a>
						<a href="">
							<button class="login100-form-btn" type="button">
								Gluconeogenesis
							</button>
						</a>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}