{% extends 'indexLogged.html' %}

{% block modelEdit %}
{% load static %}

</head>
<body>
	<form class="login100-form-modelEdit validate-form">
        {{ modules|json_script:"db-modules" }}
        {{ substrates|json_script:"db-substrates" }}
        {{ products|json_script:"db-products" }}
        {{ model_num|json_script:"modelNum"}}
        {{ xCoorNext|json_script:"x-coor-next" }}
        {{ yCoorNext|json_script:"y-coor-next" }}
        {{ pubModel|json_script:"pubModel" }}
        <div class="flex-horiz">
            <div id="modelEditDiv"style="width: 800px; height: 650px; overflow: scroll">
                <canvas id="modelEditCanvas" height="2000" width="800" ></canvas>
            </div>
            <div class="flex-sliders" id="slider-holder">
                <h3 class="varLabel">Variables</h3>
            </div>
            <!-- Create New Reaction button created here with id="new-reaction" -->
            <div class="modelButtons">
                <button type="button" class="play-pause" id="play-pause">Pause</button>
                <button type="button" class="play-pause" id="new-reaction">Create New Reaction</button>
                <a href="/testApp/modelChoice">
                    <button type="button" class="play-pause" id="backButtonModelEdit">Back</button>
                </a>
            </div>
        </div>
    </form>

		<form method="post" action="#">
			{% csrf_token %}
			<button type="submit" name="deleteModel" class="play-pause">CLEAR MODEL</button>
		</form>

		<div class="form-popup" id="myForm">
			<form action="/action_page.php" class="form-container">
				<h2>Help</h2>
				<hr>
				<h4>On this screen you can view the molecules flowing through the pathway!</h4>
				<hr>
				<h4>Click the pause button to stop the flow.</h4>
				<hr>
				<h4>Move the sliders to change the flow.</h4>
				<hr>
				<h4>Only irreversible reactions have sliders.</h4>
				<hr>
				<h4>If you would like to view a specific reaction, click the button in the variables section below the enzyme's name.</h4>
				<hr>
				<h4>If you would like to clear all of the reactions from your model and start over, click the "CLEAR MODEL" button.</h4>
				<hr>
				<h4>*NOTE* The "CLEAR MODEL" button will not appear if you're viewing "Our Models".</h4>
				<hr>
				<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
			</form>
		</div>
    <script src="{% static 'js/modelEdit.js' %}"></script>
</body>
</html>
{% endblock %}
