{% extends 'index.html' %}

	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
			<div class="wrap-login100">
					<div class="container-login100-form-btn">
						<div class="login-flex" id="main">
							<h2 class="title-model">Choose a Model</h2>
							<a href="modelEdit">
								<button class="login100-form-btn" type="button">
									Glycolysis
								</button>
							</a>

							<button class="login100-form-btn" type="button">
								Gluconeogenesis
							</button>

							<button class="login100-form-btn">
								+
							</button>
						</a>

					</div>
			</div>
		</div>
	</div>

	<div class="wrap-modelChoice100">
		<div class="container-modelChoice">
			<div class="modelChoice-flex">
				<h2 class="title-model">Your Models</h2>
					<div class="modelChoice-scroll-elements">
						<a href="">
							<button class="login100-form-btn">
								Citric acid cycle
							</button>
						</a>
						<a href="">
							<button class="login100-form-btn" type="button">
								Fatty acid β-oxidation
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Caffeine Metabolism
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Nicotine metabolism
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Dopamine degradation
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Serotonin metabolism
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Collagen biosynthesis
							</button>
						</a>

						<a href="">
							<button class="login100-form-btn" type="button">
								Steroid hormone biosynthesis
							</button>
						</a>
					</div>
			</div>
		</div>
	</div>

	<div class="wrap-modelChoice100">
		<div class="container-modelChoice">
			<div class="modelChoice-flex">
				<h2 class="title-model">Our Models</h2>
					<div class="modelChoice-scroll-elements">
						<a href="">
							<button class="login100-form-btn" type="button">
								Glycolysis
							</button>
						</a>
						<a href="">
							<button class="login100-form-btn" type="button">
								Gluconeogenesis
							</button>
						</a>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
