{% extends 'indexLogged.html' %}

{% block moduleEdit %}
{% load static %}
<body>
	<script>
		//need to add in abbreviations
		var myEnzymes = [];
		{% for mod in modules %}
				myEnzymes.push(['{{ mod.enzyme }}', '{{mod.reversible}}', '{{mod.id}}', '{{mod.modelID_id}}', '{{mod.enzymeAbbr}}']);
		{% endfor %}

		console.log(myEnzymes);

		var mySubstrates = [];
		{% for subs in substrates %}
				mySubstrates.push(['{{subs.substrate}}', '{{subs.id}}', '{{subs.moduleID_id}}', '{{subs.abbr}}']);
		{% endfor %}

	  console.log(mySubstrates);

		var myProducts = [];
		{% for prods in products %}
				myProducts.push(['{{prods.product}}', '{{prods.id}}', '{{prods.moduleID_id}}', '{{prods.abbr}}']);
		{% endfor %}

		console.log(myProducts);

		var allProds = []
		{% for prods in allprods %}
				allProds.push(['{{prods.product}}', '{{prods.enzyme}}', '{{prods.abbr}}']);
		{% endfor %}
		var allSubs = []
		{% for subs in allsubs %}
				allSubs.push(['{{subs.substrate}}', '{{subs.enzyme}}', '{{subs.abbr}}']);
		{% endfor %}

		var allModules = []
		{% for mod in allmodules %}
				allModules.push(['{{ mod.enzyme }}', '{{mod.reversible}}', '{{mod.enzymeAbbr}}', '{{mod.id}}']);
		{% endfor %}

		var isPublic = false;
		isPublic = '{{isPublic}}';

		console.log(isPublic);
		console.log(allProds);
		console.log(allSubs);
		console.log(allModules);
	</script>
			<img class="step1Image" id="step1" src="{% static 'images/GlycolysisStep1.jpg' %}" style="display: none;">
			<img class="step1Image" id="Glucose" src="{% static 'images/Glucose.jpg' %}" style="display: none;">
			<img class="step1Image" id="Glucose-6-Phosphate" src="{% static 'images/Glucose-6-Phosphate.jpg' %}" style="display: none;">
			<img class="step1Image" id="Fructose-6-Phosphate" src="{% static 'images/Fructose-6-Phosphate.jpg' %}" style="display: none;">
			<img class="step1Image" id="Fructose-1,6-bisphosphate" src="{% static 'images/Fructose-1,6-bisphosphate.jpg' %}" style="display: none;">
			<img class="step1Image" id="Dihydroxyacetone Phosphate" src="{% static 'images/Dihydroxyacetone Phosphate.jpg' %}" style="display: none;">
			<img class="step1Image" id="Glyceraldehyde-3-Phosphate" src="{% static 'images/Glyceraldehyde-3-Phosphate.jpg' %}" style="display: none;">
			<img class="step1Image" id="1,3-bisphoglycerate" src="{% static 'images/1,3-bisphoglycerate.jpg' %}" style="display: none;">
			<img class="step1Image" id="3 phosphoglycerate" src="{% static 'images/3 phosphoglycerate.jpg' %}" style="display: none;">
			<img class="step1Image" id="2 phosphoglycerate" src="{% static 'images/2 phosphoglycerate.jpg' %}" style="display: none;">
			<img class="step1Image" id="Phosphoenolpyruvate" src="{% static 'images/Phosphoenolpyruvate.jpg' %}" style="display: none;">
			<img class="step1Image" id="Pyruvate" src="{% static 'images/Pyruvate.jpg' %}" style="display: none;">
									<div class="viewAndCreateReaction">
										<canvas id="imageCanvas" height="655" width="900"></canvas>
										<div class="formdiv">
										<form method="post" class="saveModuleForm" action="#">
											{% csrf_token %}
											<div id="subsContainer">
												<label id="subsLabel">SUBSTRATES</label>
										    <ul class="subs" id="substrates">
													<!-- dynamically create substrates checkboxes and labels -->
													<script type="text/javascript">
													//look for element by id, don't add if not null.
														for(var i = 0; i < allSubs.length; i++){
															String.prototype.replaceAll = function(search, replacement) {
																var target = this;
																return target.split(search).join(replacement);
															};
															var str = allSubs[i][0];
															var newStr = str.replaceAll(/_/,' ');
															var enzymeStr = allSubs[i][1];
															var newEnz = enzymeStr.replaceAll(/_/,' ');
															allSubs[i][1] = newEnz;
															allSubs[i][0] = newStr;
															if(document.getElementById(allSubs[i][0]+"SubId") === null){
																var newlabel = document.createElement("Label");
																newlabel.innerHTML = newStr;
																newlabel.className = "container";
																newlabel.setAttribute("id",allSubs[i][0]+"SubId");
																var newcheckbox = document.createElement("input");
																newcheckbox.setAttribute("type", "checkbox");
																newcheckbox.setAttribute("value", newStr);
																newcheckbox.setAttribute("onchange", "onRadioChange()");
																newcheckbox.setAttribute("name", "Substrate");
																console.log(allSubs[i][2]);
																newcheckbox.className = allSubs[i][2];
																newlabel.appendChild(newcheckbox);
																document.getElementById("substrates").appendChild(newlabel);
															}
														}
													</script>
								    		</ul>
											</div>
											<div id="enzsContainer">
												<label id="enzsLabel">ENZYMES</label>
												<ul class="enzs" id="enzymes">

													<script type="text/javascript">
													//look for element by id, don't add if not null.
														for(var i = 0; i < allModules.length; i++){
															String.prototype.replaceAll = function(search, replacement) {
																var target = this;
																return target.split(search).join(replacement);
															};
															var str = allModules[i][0];
															var newStr = str.replaceAll(/_/,' ');
															allModules[i][0] = newStr;
															if(document.getElementById(allModules[i][0]+"EnzId") === null){
																var newlabel = document.createElement("Label");
																newlabel.innerHTML = newStr;
																newlabel.className = "container";
																newlabel.setAttribute("id",allModules[i][0]+"EnzId");
																var newcheckbox = document.createElement("input");
																newcheckbox.setAttribute("type", "radio");
																newcheckbox.setAttribute("value", newStr);
																newcheckbox.setAttribute("onchange", "onRadioChange()");
																newcheckbox.setAttribute("name", "Enzyme");
																newcheckbox.className = "Enzyme";
																newlabel.appendChild(newcheckbox);
																document.getElementById("enzymes").appendChild(newlabel);
															}
														}
													</script>
												</ul>
											</div>
											<div id="prodsContainer">
												<label id="prodsLabel">PRODUCTS</label>
												<ul class="prods" id="products">

													<script type="text/javascript">
													//look for element by id, don't add if not null.
														for(var i = 0; i < allProds.length; i++){
															String.prototype.replaceAll = function(search, replacement) {
																var target = this;
																return target.split(search).join(replacement);
															};
															var str = allProds[i][0];
															var newStr = str.replaceAll(/_/,' ');
															allProds[i][0] = newStr;
															var enzymeStr = allProds[i][1];
															var newEnz = enzymeStr.replaceAll(/_/,' ');
															allProds[i][1] = newEnz;
															if(document.getElementById(allProds[i][0]+"ProdId") === null){
																var newlabel = document.createElement("Label");
																newlabel.innerHTML = newStr;
																newlabel.className = "container";
																newlabel.setAttribute("id",allProds[i][0]+"ProdId");
																var newcheckbox = document.createElement("input");
																newcheckbox.setAttribute("type", "checkbox");
																newcheckbox.setAttribute("value", newStr);
																newcheckbox.setAttribute("onchange", "onRadioChange()");
																newcheckbox.setAttribute("name", "Product");
																console.log(allProds[i][2]);
																newcheckbox.className = allProds[i][2];
																newlabel.appendChild(newcheckbox);
																document.getElementById("products").appendChild(newlabel);
															}
														}
													</script>
									    	</ul>
											</div>
											<label class="reversibleChoice">Reversible
												<input type="radio" name="reversibleChoice" onchange="onRadioReverseChange()" value="Reversible">
												<span class="checkmark"></span>
											</label>
											<label id='irreversibleID' class="reversibleChoice">Irreversible
												<input type="radio" name="reversibleChoice" onchange="onRadioReverseChange()" value="Irreversible" checked>
												<span class="checkmark"></span>
											</label>
											<button type="submit" class="saveReaction" id="saveReaction">CHECK</button>
										</form>
										</div>
											<button type="button" class="createReaction" id="createReaction">CREATE REACTION</button>
											<button type="button" class="clearReaction" id="clearReaction">CLEAR REACTION</button>
											<button type="button" id="backBtn" class="backBtn">BACK</button>
										</div>
										<!-- The Modal -->
										<div id="invalidModal" class="modal">

										  <!-- Modal content -->
										  <div class="modal-content">
										    <span class="close">&times;</span>
										    <p>You must select at least one substrate, enzyme and product, as well as no more than five products or substrates.</p>
										  </div>
										</div>
										<div id="invalidCheckModal" class="modal">

										  <!-- Modal content -->
										  <div class="modal-content">
										    <span class="close">&times;</span>
										    <p>Sorry! We cannot fill in the reaction for your chosen enzyme at the moment.</p>
										  </div>
										</div>

	<script src="{% static 'js/moduleEdit.js' %}"></script>
</body>
</html>
{% endblock %}
