{% extends 'index.html' %}

{% block body %}

<script type ="text/javascript">
        var username = document.getElementById('username');
        var pass = document.getElementById('pass');
        var loginBtn = document.getElementById('login');
        
        loginBtn.addEventListener("click",function(){
                user = authenticate(username='user1', password='password')
                if(user != None){
                        console.log("Shit Worked");
                }               
                else{
                        console.log("Shit did not work")
                }
                var output = false;
                var var1 = "{{ user_name }}";
                var pass1 = "{{ pass_word }}";
                if(var1==username.value && pass1 == pass.value){
                        output = true;
                        console.log(output);
                        console.log("Username: ", username.value, " = ", var1);
                        console.log("Password: ", pass.value, " = ", pass1);
                        console.log("Login Success");
                }
        });
        
</script>



{% endblock %}
