{% extends 'index.html' %}
 
{% block signup %}
<div class="wrap-signup100">
  <form method="post" class="signup-form">
    {% csrf_token %}
    {% for field in form %}
      <p class="sign-up-spacing">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="login100-form-btn" id="sign-up-button" >Sign up</button>
  </form>
</div>
{% endblock %}